[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "public"]
	path = public
	url = https://github.com/zh-zhang1984/zh-zhang1984.github.io.git
	branch = master
